.u-section-1 .u-sheet-1 {
  min-height: 765px;
}

.u-section-1 .u-image-1 {
  width: 166px;
  height: 156px;
  margin: 79px auto 0;
}

.u-section-1 .u-form-1 {
  height: 244px;
  background-image: none;
  width: 454px;
  margin: 25px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-size: 0.625rem;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  margin: 18px auto 15px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    border-style: none;
    margin-top: 13px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}